@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  min-height: 100vh;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: #141829;
}

body,
html {
  width: 100%;
  height: max-content;
  overflow-x: hidden;
  scrollbar-width: none;
  position: relative;
  background-color: #fff !important;
}
/* For Webkit-based browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* Utility */
.mask {
  width: fit-content;
  overflow: hidden;
}

.nav {
  width: 100%;
  padding: 0.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffffe1;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo h1 {
  font-size: 1.5rem !important;
  font-weight: 600;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 10px;
}

nav ul a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}
nav ul a:hover {
  background: #007f7b3c;
  border-radius: 50px;
  color: #141829;
}
nav ul a.active{
  border-radius: 50px;
  color: #141829;
}
.cta {
  width: 180px;
  background-color: var(--themeColor);
  border-radius: 100px;
  padding: 0.8rem 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}

.cta:hover {
  scale: 1.08;
  color: #fff;
}

.nav-drawer{
  width: 70%;
  position: absolute;
}

:root {
  --paddingHor: 4rem;
  --themeColor: #007f7b;
}

/* Hero CSS */
.hero-section {
  width: 100%;
  height: 100vh;
  margin-top: 80px;
  padding: 2rem var(--paddingHor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.hero-left {
  width: 48%;
  position: relative;
  z-index: 2;
}
.hero-left .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flex {
  display: flex;
  align-items: stretch;
  gap: 10px;
}
.flex .cta {
  border-radius: 10px;
}
.hero-section img {
  width: 45%;
}

.hero-left h1 {
  font-size: 3rem !important;
  line-height: 1.2;
  font-weight: 600;
}

.numbers {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.number {
  width: 220px;
  padding: 1.5rem;
  text-align: center;
  line-height: 1.2;
  background: #e1e1e187;
  border: 1px solid #fff;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  font-size: 1.1rem;
}
.number h3 {
  font-weight: 700;
}

.circle {
  width: 400px;
  height: 400px;
  bottom: -10%;
  left: -20%;
  border-radius: 50%;
  background: linear-gradient(to right, #007f7b, #4cc9f0);
  position: absolute;
  filter: blur(50px);
  z-index: 1;
}

hr {
  width: 90% !important;
  margin: 4rem auto !important;
  border-top: 1px solid #818181 !important;
}

/* About CSS */
.about-section {
  width: 100%;
  padding: 0rem 4rem;
  display: flex;
  position: relative;
}

h1 {
  font-weight: 600 !important;
  font-size: 2.2rem !important;
}

.about-section h1 {
  width: 40%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.2rem;
}
.about-section p {
  width: 60%;
  line-height: 1.2;
  font-weight: 400;
  font-size: 1rem;
}

/* TV CSS */
.tv-section {
  width: 100%;
  padding: 4rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem 0;
}

.show-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin: 3rem auto;
}

.card {
  padding: 0.5rem;
  border-radius: 15px;
  background-color: #a98f4e9b;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.card:hover {
  scale: 1.05;
  box-shadow: 0 0px 20px #11111146;
}
.card img {
  border-radius: 10px;
}
.card-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.card-detail h2 {
  font-size: 1.2rem !important;
  width: 50%;
  font-weight: 600 !important;
  line-height: 1;
}

/* How CSS */
.how-section {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.how-left {
  width: 40%;
}

.how-left h2{
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
}

.how-left p{
  font-size: 1.2rem !important;
}

.how-section h1 {
  text-transform: uppercase;
  color: var(--themeColor);
  font-weight: 600;
}

.how-section p {
  font-size: 1.5rem !important;
  line-height: 1.2;
  font-weight: 400 !important;
}
.how-section p:last-child {
  font-size: 1rem;
  font-weight: 500;
}

.how-section hr {
  margin: 1rem 0rem !important;
  width: 30%;
}

.how-section .circle2 {
  width: 400px !important;
  height: 400px !important;
  border-radius: 50%;
  background-color: var(--themeColor);
  position: absolute;
  top: 40%;
  right: -05%;
  filter: blur(150px);
  z-index: 1;
}

.how-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}

.affilate-section {
  margin: 8rem auto;
  position: relative;
}
.affilate-section .circle2 {
  width: 300px;
  height: 300px;
  filter: blur(200px);
  bottom: -50% !important;
  right: 10%;
  transform: translate(-50%, 50%);
}

.icon img {
  width: 80%;
}

.event-section {
  width: 100%;
  padding: 0 4rem;
  margin-bottom: 4rem;
}

.event-section h1 {
  color: var(--themeColor);
  width: 20%;
  line-height: 1;
  margin-bottom: 2rem;
}

.event-item {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: 1.2;
  border-bottom: 1px solid #444;
}

.date {
  width: 60px;
  height: 60px;
  background: var(--themeColor);
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date h3 {
  color: #fff !important;
  font-size: 1.2rem !important;
  font-weight: 500;
}
.event-name {
  font-size: 1.5rem;
  font-weight: 600;
}

/* testimonial CSS */
.title {
  color: var(--themeColor);
}

.testimonial-section {
  margin: 8rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 70%;
  height: 380px;
  padding: 2rem 0;
  margin: 2rem 0;
}

.card-test {
  width: 80%;
  background: #f4f4f4;
  border-radius: 20px;
  padding: 2rem;
  margin: auto;
}
.card-test p{
  margin-top: 1rem;
}
.test-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.test-detail img {
  width: 50px;
  border-radius: 50px;
}
.test-name img{
  width: 80px;
}
.prev,
.next {
  width: 50px;
  height: 50px;
  background-color: #007f7bb8;
  border-radius: 50px;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  font-size: 2rem;
  position: absolute;
}
.prev {
  top: 40%;
  left: 0%;
}
.next {
  top: 40%;
  right: 0%;
}
.swiper-pagination-bullet-active {
  background: #007f7b !important;
}

/* CTA CSS */
.cta-section {
  width: 100%;
  background: url("./img/cta.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 20rem;
  color: #fff;
  text-align: center;
  gap: 1rem;
}

/* Footer */
.footer {
  width: 100%;
  background: #141829;
  margin-top: 4rem;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer h1, .footer b, footer p{
  color: #fff;
}
.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.col1 {
  width: 30%;
  color: #fff;
}
.col1 .logo {
  gap: 20px;
  font-weight: 500;
}

.footer b {
  margin-bottom: 5rem !important;
  font-size: 1.3rem;
}

.footer-copy {
  width: 100%;
  background: #141829;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  border-top: 1px solid #ffffff5d;
}

/* About Page */
.about-img {
  width: 96%;
  height: 20vw;
  margin: 2rem auto;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 46px;
  object-fit: cover;
}
.ab-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 5 !important;
}
.ab-left h1 {
  width: 100%;
}
.ab-number {
  width: 90%;
  height: 60%;
  background: #ebebeb36;
  backdrop-filter: blur(5px);
  border: 1px solid #fff;
  border-radius: 22px;
}

.footer-copy p{
  color: #fff;
}



/* Default: Hide the mobile menu and show the desktop menu */
.nav .mobile-menu, .nav-drawer {
  display: none;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  nav {
    padding: 0.5rem 1rem !important;
  }

  .mobile-menu, .nav-drawer{
    display: block !important;
  }
  
  nav ul {
    display: none;
  }

  .nav-drawer {
    padding: 4rem 1.5rem;
  }

  .nav-drawer .cta{
    display: block !important;
    padding: 1.5rem 1rem;
    border-radius: 12px;
    border-bottom: 1px solid #fff !important;
  }

  .nav-drawer ul li{
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 0.5rem 0;
  }

  .nav-drawer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .nav-drawer ul a {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
  }

  .nav .cta{
    display: none;
  }

  .hero-section {
    flex-direction: column;
    height: auto;
    padding: 2rem;
    gap: 2rem;
  }

  .hero-left {
    width: 100%;
    text-align: center;
  }

  .hero-left h1 {
    font-size: 2rem !important;
  }

  .flex {
    justify-content: center;
  }

  .hero-section img {
    width: 100%;
    z-index: 2;
  }

  .numbers {
    width: 100%;
    flex-direction: column;
    margin-top: 2rem;
  }

  .number {
    width: 100%;
  }
  .hero-section,
  .about-section,
  .tv-section,
  .how-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  nav {
    padding: 0.5rem 1rem;
  }

  .event-section {
    padding: 0 1rem;
  }

  .testimonial-section {
    margin: 4rem 1rem;
  }

  .cta-section {
    padding: 3rem 1rem;
  }


  .circle{
    z-index: 0;
  }

  .about-section {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  .about-section h1,
  .about-section p {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .tv-section {
    padding: 2rem;
  }

  .show-container {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .how-section {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  .how-left,
  .how-right {
    width: 100%;
  }

  .testimonial-section {
    margin: 4rem 2rem;
  }

  .swiper {
    width: 100%;
  }

  .card-test{
    width: 100%;
  }

  .prev, .next{
    display: none;
  }

  .cta-section {
    padding: 3rem 2rem;
  }

  .footer {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    position: relative;
    z-index: 1;

  }

  .col1 {
    width: 100%;
  }

  .about-img {
    height: 40vw;
  }
  .about-img img{
    border-radius: 25px;
  }
}

.page-wrapper {
  margin-top: 80px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.nav-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100vh;
  background: white;
  transition: 0.3s ease-in-out;
  z-index: 999;
}

.nav-drawer.open {
  right: 0;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
  
  .desktop-nav {
    display: none;
  }
}



/* Contact CSS */
/* Text Animation */
.animation-container {
  width: 100%;
  height: 40vh;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.animation-container img {
  height: 120px;
}
.animation-container h1 {
  font-size: 10rem;
  color: #5d03d1;
}
.animation-container h1 span {
  color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #5d03d1;
}

.h-fit {
  height: fit-content !important;
}

.contact-section {
  width: 70%;
  padding: 1rem;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
.con-detail {
  width: 35%;
}
.con-detail h4{
  font-weight: 700;
}
.con-detail p {
  font-size: 14px;
}
.con-detail a i {
  font-size: 25px;
  border-radius: 15px;
  margin-top: 5px;
  color: #1f0052;
}
.con-form {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input {
  width: 48%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.input input {
  width: 98%;
  border: none;
  padding: 10px;
  background-color: #fff !important;
}
.textarea{
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
textarea {
  width: 100% !important;
  display: flex;
  gap: 10px;
  background-color: #fff !important;
}
.textarea textarea {
  width: 100%;
  border: none;
}

.con-form button {
  margin-top: 10px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  background: linear-gradient(to left, #05bcb6, #007f7b);
}

.con-form button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 20px #5c03d178;
}

@media screen and (max-width: 768px) {
  .contact-section {
    width: 95%;
    flex-direction: column;
    gap: 20px;
  }
  .con-detail,
  .con-form {
    width: 100%;
  }
}